{% extends 'base.html' %}

{% block navbar %}
<div class="navbar-start">
  <a class="navbar-item" href="{{ url_for('dashboard') }}">
    Dashboard
  </a>
  <a class="navbar-item" href="{{ url_for('notes') }}">
    My Notes
  </a>
  <a class="navbar-item is-active" href="{{ url_for('add_note') }}">
    Add Note
  </a>
</div>
<div class="navbar-end">
  <a class="navbar-item" href="{{ url_for('account') }}">
    Account
  </a>
  <a class="navbar-item" href="{{ url_for('signout') }}">
    Sign Out
  </a>
</div>
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-6 is-offset-3">
    {% with errs = get_flashed_messages(category_filter=['err']) %}
    {% for err in errs %}
    <div class="notification is-danger">
      <button class="delete"></button>
      {{ err }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="box">
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_note') }}">
        <input type=hidden name="_xsrf_token" value="{{ xsrf_token() }}">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" name="title">
          </div>
        </div>
        <div class="field">
          <label class="label">Body</label>
          <textarea class="textarea" name="body"></textarea>
        </div>
        <div class="field wrapper">
          <label class="label">Add User</label>
          <div class="field is-grouped">
            <div class="control">
              <input class="input" type="text" name="user">
            </div>
            <div class="control">
              <button class="button is-success is-adding">
                Add More
              </button>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" name="public">
            Public
          </label>
        </div>
        <div class="field is-grouped">
          <div class="control">
              <input class="button is-success" type="submit" value="Save">
          </div>
          <div class="control">
            <a class="button is-text" href="{{ url_for('dashboard') }}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}