<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
      integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA="
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet" 
      href="/static/styles.css"
    />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <script
      defer
      src="/static/main.js"
    ></script>

    <title>Hard To Crack Note App</title>
  </head>

  <body>
    <section class="hero is-primary is-bold is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('index') }}">
                <img src="/static/logo.png" alt="logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              {% block navbar %}
              {% endblock %}
            </div>
          </div>
        </nav>
      </div>
    
      <div class="hero-body">
        <div class="container is-fluid">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>
  </body>
</html>
